<h1>{{ title }}</h1>

<!-- TODO: EXTRACT FORM INTO NEW COMPONENT -->
<form [formGroup]="form">
  <fieldset>
    <label>Tarefa</label>
    <input
      type="text"
      placeholder="Título da tarefa"
      maxLength="60"
      formControlName="title"
    />
    <small *ngIf="formValues['title'].invalid && !formValues['title'].pristine"
      >Este campo deve conter entre 3 e 60 caracteres</small
    >
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>

<app-todo-list
  *ngFor="let todo of todos"
  [todo]="todo"
  (remove)="remove($event)"
  (done)="markAsDone($event)"
  (undone)="markAsUndone($event)"
></app-todo-list>

<app-todo-count [todos]="todos"></app-todo-count>
